
{{#if limitedView}}
  <div>
    <strong>Dates:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>Employee:</strong> {{leave.employeeFullName}}.
  </div>
{{else}}
  <div>
    <strong>Dates:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  {{!-- {{#if leave.commentsString }}
  <div>
    <strong>Comments:</strong> {{leave.commentsString}}.
  </div>
  {{/if}} --}}
{{/if}}
